* {
  box-sizing: border-box;
}

html {
  background-color: white;
  color: #141414;
  font-size: 10px;
  font-family: 'IBM Plex Sans', "Lemon/Milk", 'Open Sans', sans-serif;
  line-height: 10px;
}


@font-face {
  font-family: 'Lemon/Milk Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Lemon/Milk Regular'), url('LemonMilk.woff') format('woff');
}



h1 {
  font-family: "Lemon/Milk";
  font-size: 3.6rem;
  font-weight: light;
  /* font-stretch: semi-expanded; */
  letter-spacing: 10px;
  line-height: 6rem;
}


h2, h3, h4, h5, h6 {
    font-family: "Open Sans";
    font-weight: regular;
  }

h2 {
  font-size: 4.8rem;
  line-height: 10rem;
}

h3 {
    font-size: 3.6rem;
    line-height: 5rem;
  }

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.0rem;
}

h6 {
  color: #955BA7;
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  color: #616161;
  font-family: "IBM Plex Sans";
  font-size: 2.0rem;
  font-style: normal;
  font-variant: normal;
  /* font-weight: regular; */
  letter-spacing: -.01rem;
  line-height: 4rem;
  margin-bottom: 5rem;
  }


/* navigation */

.nav-header {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 1%;
}

.nav-header a {
  color: #616161;
  text-decoration: none;
}

.header {
  display: flex;
  flex: 1;
}

.header img {
  margin-left: 4rem;
  margin-right: 4rem;
  size: 100%;
}

.header h1 {
  font-size: 2.4rem;
  margin: 0rem;
}


.headercontainer h1, h3 {
  width: 70%;
}


.nav-items li {
  display: inline-flex;
  color: #141414;
  font-family: "Open Sans";
  text-decoration: none;
  font-weight: bold;
  padding-left: 0rem;
  padding-right: 4rem;
}


.nav-header .link {
  color: #955BA7;  /* purple */
  text-decoration: none;
  font-size: 1.6rem;
}

.nav-header .contact {
  color: #000;
}

/*
.nav-footer {
  align-items: center;
  display: flex;
  border: 1px solid black;
  /*float: right;
  height: 220px;
  list-style-type: none;
  padding-bottom: 1%;
}


.social ul {
  background-color: red;
  padding-right: 0rem;
  padding-left: -10rem;
}

.social li {
  display: inline;
  text-decoration: none;
  background-color: blue;
  padding-right: -4rem;
  padding-left: -4rem;
}
*/

@media all and (max:width: 1000px) {

  .nav-items ul {
    flex-wrap: wrap;
  }
}

/* CONTAINERS */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  width: 80%;
  padding-top: 3%;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0rem;
  justify-content: center;
  width: 100%;
  text-align: center;
}


.containerabout1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  padding-top: 0%;
}

/* FOR THE PHOTOS */
.containerphotos {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%
}

.leftcolumn {
  display: flex;
  flex: 1;
  align-items: center;
}

.middlecolumn {
  display: flex;
  flex: 3;
}

.rightcolumn {
  display: flex;
  flex: 1;
  align-items: center;
}

.middleflex {
  display: flex;
  flex-direction: column;
}

.photorow1 {
  display: flex;
  flex: auto;
  align-items: flex-end;
}

.photorow2 {
  display: flex;
  align-items: flex-start;
}

/* TARGETING EACH PHOTO */
.containerphotos img {
  padding: 1rem;
  max-width: 100%;
}

.photoleft img {
  max-width: 100%;
}

.photoright img {
  max-width: 100%;
}



/* FOR THE BODY */
.rowabout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.grid {
  display: none;
}

.columnabout {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: flex-start;
  padding: 0% 2.5%;
}

.buttonsection {
  padding: 10% 0% 60% 10%;
}


.footercontainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 110em) {

}

.newsection {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10rem;
}


.newsection2 {
  border: solid 20px green;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 10rem;
  background-color: blue;
}

.space {
  padding-top: 2rem;
  text-align: center;
}

/* FOR THE FOOTER */
.footercontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.footerlogo {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

.footerlinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footerlinks a {
  padding: 2.5rem;
  text-decoration: none;
}

.sociallinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  width: 200px;
}


.sociallinks img {
  padding: 10px;
}

.copywright {
  text-align: center;
  padding-bottom: 2%;
}

  /* ALL BUTTONS */
.button {
  background-image: linear-gradient( 63deg,  rgba(242,168,168,1) 1.9%, rgba(94,46,165,1) 90.1% );
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  /*font-face: "Open Sans"; */
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button2 {
  background-image: linear-gradient( 63deg,  rgba(242,168,168,1) 1.9%, rgba(94,46,165,1) 90.1% );
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  /*font-face: "Open Sans"; */
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 15px 30px;
  width: 60%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.buttonbody {
  background-image: linear-gradient( 63deg,  rgba(242,168,168,1) 1.9%, rgba(94,46,165,1) 90.1% );
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  /*font-face: "Open Sans"; */
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 15px 30px;
  width: 60%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

  /* NAVIGATION CONTACT BUTTON */
.nav-items .button {
  letter-spacing: .1rem;
  color: white;
  padding: 8px 20px;
}
