* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  background-color: white;
  font: IBM Plex Sans;
}

h1 {
  font-size: 3.6rem;
  font-weight: bolder;
}

h2 {
  font-size: 4.8rem;
  font-weight: bolder;
}

h3 {
  font-size: 3.6rem;
  font-weight: bolder;
}

h4 {
  font-size: 2.4rem;
  font-weight: bolder;
}

h5 {
  font-size: 2.0rem;
  font-weight: bolder;
}

h6, a {
  font-size: 1.6rem;
  text-transform: uppercase;
}

p, ul {
  font-size: 1.6rem;
}



.container {
  /*
  background-color: white;
  height: 100vh;
  margin: 0 auto;
  width: 50rem;
  */
}

section {
  /*background-color: #;
  color: #;
  height: 20rem;
  margin-top:  1rem;*/
}

@media screen and (min-width: 110em) {

}
